<header>
  <nav>
    <ul>
      <li><a [routerLink]="[ '/' ]" [routerLinkActive]="['actived']" [routerLinkActiveOptions]="{ exact: true }">Projects</a></li>
      <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']" [routerLinkActiveOptions]="{ exact: true }">About Me</a></li>
      <li><a [routerLink]="['/create']" [routerLinkActive]="['actived']" [routerLinkActiveOptions]="{ exact: true }">Create </a></li>
    </ul>
  </nav>
</header>

<section id="content">
<router-outlet> </router-outlet>
</section>

<footer>
  <p>Rights reserved to Alejandro Navarini &copy; </p>
</footer>